<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>2022 Ferace Modelleri - Tesettür Giyim | Efal Collection</title>
  <link rel="icon" href="%PUBLIC_URL%/logo_1.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#fffff" />
  <meta name="description"
content="Fashion House "
data-rh="true" />
  
  <meta name="keywords"
    content="fashion" />
  <meta property="og:type" content="fashion" />
  <meta property="og:site_name" content="Fashion House" />
  <meta property="twitter:title" content="Fashion" />
  <meta property="twitter:description"
    content="fashion" />
  <meta property="twitter:image" content="https://efalcollection.com/static/media/anasayfa.bd7eefa25f8ce8353042.webp" />
  <meta property="twitter:card" content="fashion" />
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <meta name="google-site-verification" content="EEsc-n8lB8TT68InVBtHVTpqZmxhb6LFtj-KHh5zE_4" />
  <meta name="facebook-domain-verification" content="t57zcwsth2n07ar0ql8ysjoi0qvype" />

  <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo_1.png" />
  
  <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="alternate" hreflang="tr-TR" href="http://fashionhouse.com" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RYLT2409W2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-RYLT2409W2');
  </script>
  <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '504360305060039');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=504360305060039&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
</head>

<body>
  <noscript>Fashion House </noscript>
  <div id="root"></div>

  <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
</body>

</html>